@model IEnumerable<WebBanHang.Models.Account>

@{
	ViewData["Title"] = "Quản trị tài khoản";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
	<h2 class="header-title">Roles List</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" href="#">Accounts</a>
			<span class="breadcrumb-item active">Accounts List</span>
		</nav>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
					<div class="m-b-10 m-r-15">
						<select class="custom-select" id="isRoles" name="isRoles" style="min-width: 200px" asp-items="ViewBag.QuyenTruyCap">
							<option value="0" disabled selected>Roles</option>
						</select>
					</div>
					<div class="m-b-10">
						<select class="custom-select" id="isStatus" name="isStatus" style="min-width: 200px" asp-items="ViewBag.lsTrangThai">
							<option value="" disabled selected>Status</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" asp-action="Create">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>Add Roles</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Full Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Roles</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					@if (Model != null)
					{
						foreach (var item in Model)
						{
							<tr>
								<td>#@item.AccountId</td>
								<td>@item.FullName</td>
								<td>@item.Phone</td>
								<td>@item.Email</td>
								<td>@item.Role.Description</td>
								<td>
									@if (item.Active == true)
									{
										<p><span class="badge badge-dot badge-success mr-1"></span> Active</p>
									}
									else
									{
										<p><span class="badge badge-dot badge-danger mr-1"></span> Block</p>
									}
								</td>
								<td>
									<a class="btn btn-info btn-tone m-r-5" asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
									<a class="btn btn-secondary btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a> |
									<a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

