@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBanHang.Models.Page>

@{
	int CurrentPage = ViewBag.CurrentPage;
	ViewData["Title"] = "Pages List" + CurrentPage;
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<h2 class="header-title">Roles List</h2>
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a class="breadcrumb-item" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" href="#">Pages</a>
			<span class="breadcrumb-item active">Pages List</span>
		</nav>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-8">
				<div class="d-md-flex">
					<div class="m-b-10 m-r-15">
						<select class="custom-select" style="min-width: 180px;">
							<option selected>Pages</option>
							<option value="0">All</option>
						</select>
					</div>
					<div class="m-b-10">
						<select class="custom-select" style="min-width: 180px;">
							<option selected>Status</option>
							<option value="0">All</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" asp-action="Create">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>Add Pages</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Page ID</th>
						<th>Page Name</th>
						<th>Status</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					@if (Model != null)
					{
						foreach (var item in Model)
						{
							<tr>
								<td>@item.PageId</td>
								<td>@item.PageName</td>
								<td>
									@if (item.Published == true)
									{
										<p><span class="badge badge-dot badge-success mr-1"></span> Published</p>
									}
									else
									{
										<p><span class="badge badge-dot badge-danger mr-1"></span>Non-published</p>
									}
								</td>
								<td>
									<a class="btn btn-info btn-tone m-r-5" asp-action="Details" asp-route-id="@item.PageId">Details</a> |
									<a class="btn btn-secondary btn-tone m-r-5" asp-action="Edit" asp-route-id="@item.PageId">Edit</a> |
									<a class="btn btn-danger btn-tone m-r-5" asp-action="Delete" asp-route-id="@item.PageId">Delete</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
